<a href="https://colab.research.google.com/github/chrisseiler96/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/Copy_of_LS_DS1_231_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic ðŸš¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.1.1)
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.11.29)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.0.1)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: Unidecode>=0.04.16 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.0.23)

In [2]:
# Note - you'll also have to sign up for Kaggle and authorize the API
# https://github.com/Kaggle/kaggle-api#api-credentials

# This essentially means uploading a kaggle.json file
# For Colab we can have it in Google Drive
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

# You also have to join the Titanic competition to have access to the data
!kaggle competitions download -c titanic

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/
Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 11, in <module>
    load_entry_point('kaggle==1.5.1.1', 'console_scripts', 'kaggle')()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 487, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 2728, in load_entry_point
    return ep.load()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 2346, in load
    return self.resolve()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 2352, in resolve
    module = __import__(self.module_name, fromlist=['__name__'], level=0)
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 116, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /content/drive/My Drive/. Or use the environment method.

In [0]:
# How would we try to do this with linear regression?
import pandas as pd

train_df = pd.read_csv('train.csv').dropna()
test_df = pd.read_csv('test.csv').dropna()  # Unlabeled, for Kaggle submission

train_df.head()

In [0]:
train_df.describe()

In [0]:
from sklearn.linear_model import LinearRegression

X = train_df[['Pclass', 'Age', 'Fare']]
y = train_df.Survived

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)

In [0]:
linear_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

In [0]:
linear_reg.coef_

In [0]:
import numpy as np

test_case = np.array([[1, 5, 500]])  # Rich 5-year old in first class
linear_reg.predict(test_case)

In [0]:
np.dot(linear_reg.coef_, test_case.reshape(-1, 1)) + linear_reg.intercept_

In [0]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

In [0]:
log_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

In [0]:
log_reg.predict(test_case)[0]

In [0]:
help(log_reg.predict)

In [0]:
log_reg.predict_proba(test_case)[0]

In [0]:
# What's the math?
log_reg.coef_

In [0]:
log_reg.intercept_

In [0]:
# The logistic sigmoid "squishing" function, implemented to accept numpy arrays
def sigmoid(x):
  return 1 / (1 + np.e**(-x))

In [0]:
sigmoid(log_reg.intercept_ + np.dot(log_reg.coef_, np.transpose(test_case)))

So, clearly a more appropriate model in this situation! For more on the math, [see this Wikipedia example](https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study).

For live - let's tackle [another classification dataset on absenteeism](http://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work) - it has 21 classes, but remember, scikit-learn LogisticRegression automatically handles more than two classes. How? By essentially treating each label as different (1) from some base class (0).

In [0]:
# Live - let's try absenteeism!
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
!unzip Absenteeism_at_work_AAA.zip

In [0]:
!head Absenteeism_at_work.csv

In [0]:
absent_df = pd.read_table('Absenteeism_at_work.csv', sep=';')
absent_df.head()

In [0]:
absent_df.shape

In [0]:
LogisticRegression

In [0]:
absent_df.columns

In [0]:
X = absent_df.drop('Reason for absence', axis='columns')
y = absent_df['Reason for absence']

absent_log1 = LogisticRegression().fit(X, y)
absent_log1.score(X, y)

In [0]:
absent_log1

In [0]:
absent_log1.coef_

In [0]:
absent_log1.predict(X)

In [0]:
absent_log1.predict_proba(X)[0]

In [0]:
?LogisticRegression

## Assignment - real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

In [88]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-01-22 22:13:00--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
^C
Archive:  fma_metadata.zip
replace fma_metadata/README.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import pandas as pd

In [0]:
tracks= pd.read_csv('fma_metadata/tracks.csv', header=[0,1], index_col=0)

In [0]:
tracks= tracks.track

In [0]:
tracks.dropna(subset=['genre_top'], how='all', inplace = True)

In [5]:
tracks.head()

,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,
2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],[21],NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],[21],NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],[10],NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
134,256000,0,NaN,2008-11-26 01:43:19,2008-11-26 00:00:00,207,3,Hip-Hop,[21],[21],NaN,1126,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,943,NaN,5,NaN,[],Street Music

In [0]:
# Maybe it'd be handy to sample so we have less data so things run faster
tracks_sample = tracks.sample(5000, random_state=42)

In [7]:
tracks_sample.describe()

,bit_rate,comments,duration,favorites,interest,listens,number
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,261596.696000,0.02000,266.170400,2.271400,2391.493200,1576.387400,8.313600
std,65253.928533,0.20201,271.489538,7.280188,8495.615433,5819.803875,16.549998
min,-1.000000,0.00000,1.000000,0.000000,5.000000,3.000000,0.000000
25%,198850.500000,0.00000,143.000000,0.000000,455.000000,211.000000,2.000000
50%,256000.000000,0.00000,210.000000,1.000000,941.000000,517.000000,5.000000
75%,320000.000000,0.00000,300.000000,2.000000,2028.250000,1295.250000,9.000000
max,448000.000000,8.00000,3682.000000,297.000000,448542.000000,294602.000000,255.000000

In [8]:
pd.set_option('display.max_columns', None)  # Unlimited columns
tracks_sample.head()

,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,
152153,320000,0,NaN,2017-02-12 14:33:18,NaN,339,0,Electronic,[15],[15],NaN,23,NaN,Creative Commons Attribution-NonCommercial-NoD...,19,NaN,14,NaN,[],The Divine Healer
15963,192000,0,NaN,2009-07-03 02:10:16,NaN,282,0,Electronic,"[15, 181, 296]","[296, 181, 15]",NaN,2392,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,801,NaN,4,NaN,[],The Space Bandidos (06)
20296,320000,0,NaN,2009-10-30 10:57:00,NaN,267,29,Experimental,"[1, 38]","[1, 38]",NaN,82742,en,Attribution-Noncommercial-Share Alike 3.0 Unit...,68678,NaN,3,NaN,[],Part 3
126046,192000,0,NaN,2015-10-06 16:35:42,NaN,28,0,Rock,"[25, 85, 109]","[25, 109, 12, 85]",NaN,1611,NaN,Creative Commons Attribution-NonCommercial-NoD...,1532,NaN,6,NaN,[],2
1033,128000,0,NaN,2008-11-26 02:30:55,2005-01-01 00:00:00,641,0,Rock,[53],"[45, 12, 53]",NaN,413,en,Attribution-Noncommercial-Share Alike 3.0 Unit...,67,NaN,4,NaN,[],Cut 4

In [0]:
tracks_sample = tracks_sample.reset_index()

In [0]:
tracks_sample.head()

In [0]:
test_yvals= tracks_sample.genre_top

In [12]:
test_yvals.head()

0      Electronic
1      Electronic
2    Experimental
3            Rock
4            Rock
Name: genre_top, dtype: object

In [14]:
pd.options.mode.use_inf_as_na = True
tracks_sample.isna().sum()

track_id            0
bit_rate            0
comments            0
composer         4841
date_created        0
date_recorded    4616
duration            0
favorites           0
genre_top           0
genres              0
genres_all          0
information      4886
interest            0
language_code    4069
license             3
listens             0
lyricist         4986
number              0
publisher        4954
tags                0
title               0
dtype: int64

In [16]:
# While exploring, we want to be efficient and focus on what works for now
# Thanks Dan!
#garbage_columns = ['track_id','id', 'information','comments.1','title','bio',
#                  'members','website','wikipedia_page','split','subset',
#                  'comments.2','genres','genres_all','information.1','license',
 #                  'title.1']
#tracks2 = tracks.drop(columns=garbage_columns)

# Another approach, restrict columns by type
# Shreyas
numeric = ['int32', 'int64', 'float16', 'float32', 'float64']
tracks_num = tracks_sample.select_dtypes(include=numeric).copy()
tracks_sample.select_dtypes('number')
tracks_sample._get_numeric_data()  # "inner" method shorthand

# Another thing you can do - sample! See above where data loaded

,track_id,bit_rate,comments,duration,favorites,interest,listens,number
0,152153,320000,0,339,0,23,19,14
1,15963,192000,0,282,0,2392,801,4
2,20296,320000,0,267,29,82742,68678,3
3,126046,192000,0,28,0,1611,1532,6
4,1033,128000,0,641,0,413,67,4
5,33559,320000,0,280,1,391,230,12
6,14753,256000,0,221,3,248,196,6
7,37593,192000,0,156,0,915,695,0
8,4088,256000,0,202,0,593,141,6
9,791,256000,0,101,0,551,46,15
10,29680,320000,0,350,2,1169,600,1
11,116861,192000,0,199,1,837,670,2
12,86798,320000,0,462,2,1839,1361,16
13,93472,320000,0,1254,0,312,209,1
14,32471,320000,0,255,1,192,46,5
15,65475,256000,0,178,0,400,242,19
16,50857,256000,0,119,1,3300,1004,9
17,16524,320000,0,299,0,532,516,4
18,23206,128000,0,126,0,412,49,0
19,24138,128000,0,170,4,1114,324,1
20,23195,128000,0,129,0,476,140,0
21,99431,192000,0,103,1,100,59,2
22,18223,320000,0,134,1,181,228,11
23,73247,320000,0,351,0,284,124,51
24,150078,320000,0,274,0,597,470,6
25,65161,128000,0,144,1,436,254,3
26,101948,192000,0,120,0,982,864,8
27,67774,320000,0,161,1,547,212,2
28,131002,320000,0,340,0,781,637,1
29,28103,238354,0,96,0,1143,802,7
...,...,...,...,...,...,...,...,...
4970,107747,192000,0,142,2,725,607,5
4971,152349,320000,0,101,0,120,101,2
4972,45010,192000,0,1281,0,2378,334,1
4973,85691,256000,0,199,2,1843,1351,2
4974,148583,265744,0,188,0,493,429,11
4975,113166,320000,0,123,1,10831,10351,7
4976,149681,80000,0,211,0,1215,1088,10
4977,48409,192000,0,42,10,24102,15498,23
4978,56594,128000,0,5,0,1042,245,15
4979,44476,160000,0,203,0,791,144,0
4980,149549,320000,0,247,0,143,104,3
4981,96699,192000,0,245,5,3746,3481,8
4982,27443,320000,0,143,4,1213,450,6
4983,133566,320000,0,41,3,5976,5321,0
4984,80026,320000,0,251,1,520,311,5
4985,97986,320000,0,268,5,3383,2577,4
4986,75204,168200,0,128,0,902,279,0
4987,4255,256000,0,303,0,398,279,14
4988,9174,320000,0,148,0,149,98,3
4989,96698,192000,0,211,6,3481,3126,7
4990,98592,320000,0,167,0,2112,1400,7
4991,29814,256000,0,170,1,1032,821,8
4992,139637,320000,0,428,0,2478,2296,2
4993,80800,320000,0,382,0,217,168,7
4994,8080,256000,0,181,4,1655,428,3
4995,63477,256000,0,218,0,822,640,5
4996,6848,256000,0,208,0,604,121,9
4997,1520,320000,0,254,0,492,56,3
4998,44471,128000,0,503,0,954,257,1
4999,85702,256000,0,102,1,810,614,1

In [17]:
tracks_sample._get_numeric_data()

,track_id,bit_rate,comments,duration,favorites,interest,listens,number
0,152153,320000,0,339,0,23,19,14
1,15963,192000,0,282,0,2392,801,4
2,20296,320000,0,267,29,82742,68678,3
3,126046,192000,0,28,0,1611,1532,6
4,1033,128000,0,641,0,413,67,4
5,33559,320000,0,280,1,391,230,12
6,14753,256000,0,221,3,248,196,6
7,37593,192000,0,156,0,915,695,0
8,4088,256000,0,202,0,593,141,6
9,791,256000,0,101,0,551,46,15
10,29680,320000,0,350,2,1169,600,1
11,116861,192000,0,199,1,837,670,2
12,86798,320000,0,462,2,1839,1361,16
13,93472,320000,0,1254,0,312,209,1
14,32471,320000,0,255,1,192,46,5
15,65475,256000,0,178,0,400,242,19
16,50857,256000,0,119,1,3300,1004,9
17,16524,320000,0,299,0,532,516,4
18,23206,128000,0,126,0,412,49,0
19,24138,128000,0,170,4,1114,324,1
20,23195,128000,0,129,0,476,140,0
21,99431,192000,0,103,1,100,59,2
22,18223,320000,0,134,1,181,228,11
23,73247,320000,0,351,0,284,124,51
24,150078,320000,0,274,0,597,470,6
25,65161,128000,0,144,1,436,254,3
26,101948,192000,0,120,0,982,864,8
27,67774,320000,0,161,1,547,212,2
28,131002,320000,0,340,0,781,637,1
29,28103,238354,0,96,0,1143,802,7
...,...,...,...,...,...,...,...,...
4970,107747,192000,0,142,2,725,607,5
4971,152349,320000,0,101,0,120,101,2
4972,45010,192000,0,1281,0,2378,334,1
4973,85691,256000,0,199,2,1843,1351,2
4974,148583,265744,0,188,0,493,429,11
4975,113166,320000,0,123,1,10831,10351,7
4976,149681,80000,0,211,0,1215,1088,10
4977,48409,192000,0,42,10,24102,15498,23
4978,56594,128000,0,5,0,1042,245,15
4979,44476,160000,0,203,0,791,144,0
4980,149549,320000,0,247,0,143,104,3
4981,96699,192000,0,245,5,3746,3481,8
4982,27443,320000,0,143,4,1213,450,6
4983,133566,320000,0,41,3,5976,5321,0
4984,80026,320000,0,251,1,520,311,5
4985,97986,320000,0,268,5,3383,2577,4
4986,75204,168200,0,128,0,902,279,0
4987,4255,256000,0,303,0,398,279,14
4988,9174,320000,0,148,0,149,98,3
4989,96698,192000,0,211,6,3481,3126,7
4990,98592,320000,0,167,0,2112,1400,7
4991,29814,256000,0,170,1,1032,821,8
4992,139637,320000,0,428,0,2478,2296,2
4993,80800,320000,0,382,0,217,168,7
4994,8080,256000,0,181,4,1655,428,3
4995,63477,256000,0,218,0,822,640,5
4996,6848,256000,0,208,0,604,121,9
4997,1520,320000,0,254,0,492,56,3
4998,44471,128000,0,503,0,954,257,1
4999,85702,256000,0,102,1,810,614,1

In [15]:
tracks.shape

(2000, 52)

This is the biggest data you've played with so far, and while it does generally fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

In [0]:
test1 = tracks_sample._get_numeric_data()

In [41]:
test1.head()

,track_id,bit_rate,comments,duration,favorites,interest,listens,number
0,152153,320000,0,339,0,23,19,14
1,15963,192000,0,282,0,2392,801,4
2,20296,320000,0,267,29,82742,68678,3
3,126046,192000,0,28,0,1611,1532,6
4,1033,128000,0,641,0,413,67,4

In [42]:
test1.shape

(5000, 8)

In [0]:
#test1.drop(columns=['number','comments','track_id'],inplace= True)

In [43]:
test1.head()

,track_id,bit_rate,comments,duration,favorites,interest,listens,number
0,152153,320000,0,339,0,23,19,14
1,15963,192000,0,282,0,2392,801,4
2,20296,320000,0,267,29,82742,68678,3
3,126046,192000,0,28,0,1611,1532,6
4,1033,128000,0,641,0,413,67,4

In [44]:
from sklearn.linear_model import LogisticRegression
import numpy as np



X = test1
y = test_yvals

log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.3428

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.