<a href="https://colab.research.google.com/github/audreyakwenye/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/Copy_of_DS_Unit_2_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 2 Sprint Challenge 3

## Logistic Regression and Beyond

In this sprint challenge you will fit a logistic regression modeling the probability of an adult having an income above 50K. The dataset is available at UCI:

https://archive.ics.uci.edu/ml/datasets/adult

Your goal is to:

1. Load, validate, and clean/prepare the data.
2. Fit a logistic regression model
3. Answer questions based on the results (as well as a few extra questions about the other modules)

Don't let the perfect be the enemy of the good! Manage your time, and make sure to get to all parts. If you get stuck wrestling with the data, simplify it (if necessary, drop features or rows) so you're able to move on. If you have time at the end, you can go back and try to fix/improve.

### Hints

It has a variety of features - some are continuous, but many are categorical. You may find [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) (a method to one-hot encode) helpful!

The features have dramatically different ranges. You may find [sklearn.preprocessing.minmax_scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#sklearn.preprocessing.minmax_scale) helpful!

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [46]:
df = pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', sep=',', header=None)

df[14].replace(' <=50K', 2,inplace=True)
df[14].replace(' >50K', 1,inplace=True)

df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,2
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,2
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,2
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,2
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,2

In [47]:
df.columns = ['age', 'emp_type', 'zip', 'edu', 'edu_years', 'status', 'job', 'family', 'race', 'gender', 'cap_gain', 'cap_loss', 'work_hours', 'country', 'salary']

df.emp_type.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

## Part 1 - Load, validate, and prepare data

The data is available at: https://archive.ics.uci.edu/ml/datasets/adult

Load it, name the columns, and make sure that you've loaded the data successfully. Note that missing values for categorical variables can essentially be considered another category ("unknown"), and may not need to be dropped.

You should also prepare the data for logistic regression - one-hot encode categorical features as appropriate.

In [0]:
df = df.replace(' ?', np.NaN)
df = df.dropna()

df_objects = list(df.select_dtypes(include=['object']))


from sklearn.preprocessing import LabelEncoder

In [49]:
df2 = df

df2 = pd.get_dummies(df)

df2.head()

,age,zip,edu_years,cap_gain,cap_loss,work_hours,salary,emp_type_ Federal-gov,emp_type_ Local-gov,emp_type_ Private,...,country_ Portugal,country_ Puerto-Rico,country_ Scotland,country_ South,country_ Taiwan,country_ Thailand,country_ Trinadad&Tobago,country_ United-States,country_ Vietnam,country_ Yugoslavia
0,39,77516,13,2174,0,40,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,2,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,2,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Part 2 - Fit and present a Logistic Regression

Your data should now be in a state to fit a logistic regression. Use scikit-learn, define your `X` (independent variable) and `y`, and fit a model.

Then, present results - display coefficients in as interpretible a way as you can (hint - scaling the numeric features will help, as it will at least make coefficients more comparable to each other). If you find it helpful for interpretation, you can also generate predictions for cases (like our 5 year old rich kid on the Titanic) or make visualizations - but the goal is your exploration to be able to answer the question, not any particular plot (i.e. don't worry about polishing it).

It is *optional* to use `train_test_split` or validate your model more generally - that is not the core focus for this week. So, it is suggested you focus on fitting a model first, and if you have time at the end you can do further validation.

In [65]:
X = df2.drop(columns=['salary'])
y = df2['salary']

df_log = LogisticRegression()
df_log_reg = df_log.fit(X, y)
score = df_log_reg.score(X,y)
print(score)

df_coef = []
for i in range(len(df2.drop(columns=['salary']))):
  print(list(df2)[i], ':', df_log.coef_[0][i])

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7906637490882568
age : 0.006582705105226855
zip : 3.492111214018988e-06
edu_years : 0.0017222723175681323
cap_gain : -0.00033746410487935454
cap_loss : -0.0007784855441497819
work_hours : 0.008590455692069753
salary : -3.126576333586915e-05
emp_type_ Federal-gov : -3.56862923649723e-07
emp_type_ Local-gov : 0.0005914361976391183
emp_type_ Private : -8.004982649964649e-05
emp_type_ Self-emp-inc : 2.8259443214386675e-05
emp_type_ Self-emp-not-inc : 1.368705666087045e-05
emp_type_ State-gov : 1.5920366239737344e-06
emp_type_ Without-pay : 6.20954093610811e-05
edu_ 10th : 8.889490429774298e-05
edu_ 11th : 2.8432165149570826e-05
edu_ 12th : 1.0651595581386237e-05
edu_ 1st-4th : 2.1530183510375196e-05
edu_ 5th-6th : 4.516618856581919e-05
edu_ 7th-8th : 3.508403951611782e-05
edu_ 9th : 1.267023851289835e-05
edu_ Assoc-acdm : 1.850435213442007e-05
edu_ Assoc-voc : -0.00020636841974671795
edu_ Bachelors : -5.4566145316373564e-05
edu_ Doctorate : 0.0004393718597350267
edu_ HS-grad : -0.0001359199986616617
edu_ Masters : 4.31618631243968e-06
edu_ Preschool : -6.638472084318506e-05
edu_ Prof-school : 0.0002198244432702514
edu_ Some-college : 0.00029226863376341164
status_ Divorced : -1.6968258983249624e-06
status_ Married-AF-spouse : -0.0007873773438873784
status_ Married-civ-spouse : 2.709318929520304e-05
status_ Married-spouse-absent : 0.0008603616773844441
status_ Never-married : 7.067869704662801e-05
status_ Separated : 6.197425367520069e-05
status_ Widowed : 0.00020869001950084577
job_ Adm-clerical : 4.799492890610966e-07
job_ Armed-Forces : 8.999227855491105e-05
job_ Craft-repair : -0.00024252439381717905
job_ Exec-managerial : 7.079213462616413e-05
job_ Farming-fishing : 0.00010547925678697132
job_ Handlers-cleaners : 0.00010927709823044474
job_ Machine-op-inspct : 0.00028695204230969865
job_ Other-service : 1.4040419141914994e-05
job_ Priv-house-serv : -0.00018464753265348365
job_ Prof-specialty : -1.3924312090474285e-05
job_ Protective-serv : 3.690880839842037e-05
job_ Sales : -5.6280531836203225e-06
job_ Tech-support : 4.7414566285517126e-05
job_ Transport-moving : -0.0007044657144981677
family_ Husband : 0.000539887040429304
family_ Not-in-family : 7.61709613731163e-05
family_ Other-relative : 0.0004468379161236454
family_ Own-child : 0.00025915844360918725
family_ Unmarried : -9.42863656578963e-05
family_ Wife : 2.601425244626541e-05
race_ Amer-Indian-Eskimo : 1.4071504938218655e-05
race_ Asian-Pac-Islander : 0.00013103270799492986
race_ Black : 1.6091988970406787e-05
race_ Other : 0.0003360918270293692
race_ White : 0.0006521154586037373
gender_ Female : -0.0001288131772245503
gender_ Male : -5.31554739563197e-07
country_ Cambodia : -1.0862255070797024e-06
country_ Canada : 1.961663983776847e-07
country_ China : 4.4556887458287825e-06
country_ Columbia : -2.0897303164156276e-06
country_ Cuba : 5.929604967129637e-06
country_ Dominican-Republic : 1.3559263723791745e-06
country_ Ecuador : 5.884654929379332e-06
country_ El-Salvador : -1.558261425659322e-06
country_ England : -1.9211970161685724e-06
country_ France : -2.4311483312122304e-06
country_ Germany : 1.3834420814747531e-06
country_ Greece : 4.10588018600485e-06
country_ Guatemala : 2.292506323200211e-06
country_ Haiti : 3.1283006097190983e-07
country_ Holand-Netherlands : 6.553760076933333e-07
country_ Honduras : -7.074928470693224e-07
country_ Hong : 4.113309322204418e-07
country_ Hungary : -2.5071315927451687e-06
country_ India : -1.3621090380000352e-06
country_ Iran : 1.035341071978499e-06
country_ Ireland : -1.9491079281510184e-06
country_ Italy : 3.6165683456603012e-06
country_ Jamaica : -1.7647087851103635e-06
country_ Japan : 7.576848010098993e-07
country_ Laos : 3.106982017350149e-05
country_ Mexico : 1.804795742586864e-06
country_ Nicaragua : 1.2568711942452238e-06
country_ Outlying-US(Guam-USVI-etc) : 1.534118848392152e-06
country_ Peru : -6.091754891319885e-07
country_ Philippines : 1.655242898066788e-06
country_ Poland : 2.417426827196677e-06
country_ Portugal : 6.344816491172169e-06
country_ Puerto-Rico : 3.03521375051239e-07
country_ Scotland : 3.2527914001705642e-06
country_ South : -2.6877625799430325e-06
country_ Taiwan : 4.165145694827638e-07
country_ Thailand : 1.2097253614804498e-06
country_ Trinadad&Tobago : 0.00045554982081658665
country_ United-States : 6.164698898083368e-06
country_ Vietnam : -8.652788438881634e-07

IndexError: ignored

## Part 3 - Analysis, Interpretation, and Questions

### Based on your above model, answer the following questions

1. What are 3 features positively correlated with income above 50k?
2. What are 3 features negatively correlated with income above 50k?
3. Overall, how well does the model explain the data and what insights do you derive from it?

*These answers count* - that is, make sure to spend some time on them, connecting to your analysis above. There is no single right answer, but as long as you support your reasoning with evidence you are on the right track.

Note - scikit-learn logistic regression does *not* automatically perform a hypothesis test on coefficients. That is OK - if you scale the data they are more comparable in weight.

### Match the following situation descriptions with the model most appropriate to addressing them

In addition to logistic regression, a number of other approaches were covered this week. Pair them with the situations they are most appropriate for, and briefly explain why.

Situations:
1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.
2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.
3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.

Approaches:
1. Ridge Regression
2. Quantile Regression
3. Survival Analysis

**Positive Correlation**
Not being in a Family, being black, and living in the United States are all positively correalted with making over 50k a year. 

**Negative Correlation** 
Being Divorced, working for the government, and living in Vietnam are all  negatively correlated with making over 50k per year.

I believe the model is good with about 80 pseudo R squared score. However, there were some counter inuitive results. For example, there's a negative correaltion with a bachelors degress but not with an assocaites degree.

**Scenario One** 
Quantile Regression because you want to foccus on the likelihood of entries falling within a percentage of the overall. 

**Scenario Two:** 
Survival Analysis  becuase your birth event would be the begining the start of the tech company and the death event would be the actual launch. Based on previous times to launch you can predict when a product would likely be launched. 

**Scenario Three: **
Ridge Regression becuase having alot of physical data could mean many features.