# Data Science Unit 2 Sprint Challenge 3

## Logistic Regression and Beyond

In this sprint challenge you will fit a logistic regression modeling the probability of an adult having an income above 50K. The dataset is available at UCI:

https://archive.ics.uci.edu/ml/datasets/adult

Your goal is to:

1. Load, validate, and clean/prepare the data.
2. Fit a logistic regression model
3. Answer questions based on the results (as well as a few extra questions about the other modules)

Don't let the perfect be the enemy of the good! Manage your time, and make sure to get to all parts. If you get stuck wrestling with the data, simplify it (if necessary, drop features or rows) so you're able to move on. If you have time at the end, you can go back and try to fix/improve.

### Hints

It has a variety of features - some are continuous, but many are categorical. You may find [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) (a method to one-hot encode) helpful!

The features have dramatically different ranges. You may find [sklearn.preprocessing.minmax_scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#sklearn.preprocessing.minmax_scale) helpful!

## Part 1 - Load, validate, and prepare data

The data is available at: https://archive.ics.uci.edu/ml/datasets/adult

Load it, name the columns, and make sure that you've loaded the data successfully. Note that missing values for categorical variables can essentially be considered another category ("unknown"), and may not need to be dropped.

You should also prepare the data for logistic regression - one-hot encode categorical features as appropriate.

In [1]:
# TODO - your work!
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge

In [27]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",header=None,
                 names=["age","workclass","fnlwgt","education","education_num","marital_status","occupation"
                       ,"relationship","race","sex","capital_gain","capital_loss","hours_per_week"
                       ,"native_country","income"])
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [28]:
df.shape

(32561, 15)

In [29]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [30]:
print(df['native_country'].unique())
print(df['relationship'].unique())
print(df['income'].unique())
print(df['occupation'].unique())

[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
[' <=50K' ' >50K']
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

In [31]:
print(df['workclass'].unique())
print(df['marital_status'].unique())
print(df['education_num'].unique())
print(df['sex'].unique())

[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
[' Male' ' Female']

In [36]:
df['native_country'].replace(' ?', 'unknown', inplace=True)
df['occupation'].replace(' ?', 'unknown', inplace=True)
df['workclass'].replace(' ?', 'unknown', inplace=True)

In [37]:
#make binary variables for logistic regression

df['sex'].replace(' Male',0, inplace=True)
df['sex'].replace(' Female',1, inplace=True)
df['income'].replace(' <=50K', 0, inplace=True)
df['income'].replace(' >50K', 1, inplace=True)

In [46]:
data = df.select_dtypes(include=['category','object'])
data_encode = pd.get_dummies(data, columns=data.columns, prefix=data.columns)
data_encode.head()

,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,workclass_unknown,education_ 10th,...,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,native_country_unknown
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
data.columns

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'native_country'],
      dtype='object')

In [49]:
final_df = pd.concat([df.drop(columns=['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'native_country']), data_encode],axis=1)
final_df.head()

,age,fnlwgt,education_num,sex,capital_gain,capital_loss,hours_per_week,income,workclass_ Federal-gov,workclass_ Local-gov,...,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,native_country_unknown
0,39,77516,13,0,2174,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,0,13,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Part 2 - Fit and present a Logistic Regression

Your data should now be in a state to fit a logistic regression. Use scikit-learn, define your `X` (independent variable) and `y`, and fit a model.

Then, present results - display coefficients in as interpretible a way as you can (hint - scaling the numeric features will help, as it will at least make coefficients more comparable to each other). If you find it helpful for interpretation, you can also generate predictions for cases (like our 5 year old rich kid on the Titanic) or make visualizations - but the goal is your exploration to be able to answer the question, not any particular plot (i.e. don't worry about polishing it).

It is *optional* to use `train_test_split` or validate your model more generally - that is not the core focus for this week. So, it is suggested you focus on fitting a model first, and if you have time at the end you can do further validation.

In [66]:
# TODO - your work!
features = final_df.drop(columns=['income', 'education_num','fnlwgt'])
target = final_df['income'].values

features = scale(features)
features = pd.DataFrame(features,columns=final_df.drop(columns=['income', 'education_num','fnlwgt']).columns)
features.head()

/Users/chrislouie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by the scale function.
  """

,age,sex,capital_gain,capital_loss,hours_per_week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,native_country_unknown
0,0.030671,-0.703071,0.148453,-0.21666,-0.035429,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,...,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173,-0.135023
1,0.837109,-0.703071,-0.145920,-0.21666,-2.222153,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,...,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173,-0.135023
2,-0.042642,-0.703071,-0.145920,-0.21666,-0.035429,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,...,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173,-0.135023
3,1.057047,-0.703071,-0.145920,-0.21666,-0.035429,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,...,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173,-0.135023
4,-0.775768,1.422331,-0.145920,-0.21666,-0.035429,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,...,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,-2.932948,-0.045408,-0.022173,-0.135023

In [73]:
X_train, X_test, y_train, y_test = train_test_split(features, target)

y_test = y_test.reshape(-1,1)

log_reg = LogisticRegression(solver='lbfgs',multi_class='multinomial',max_iter=1000).fit(X_train,y_train)

score = log_reg.score(X_test,y_test)
print(score)

0.8476845596364083

In [77]:
print(log_reg.coef_.flatten())

[ 1.81990374e-01 -2.17148867e-01  1.12724697e+00  1.28163964e-01
  1.78336326e-01  4.61554095e-02 -1.23290689e-02 -2.13866277e-02
  3.94809231e-02  2.50360902e-02 -4.87070133e-02 -2.65193816e-02
 -7.76737099e-02 -3.16692134e-02 -9.69960512e-02 -8.83827318e-02
 -5.04954320e-02 -6.14477372e-02 -7.34876751e-02 -1.22655280e-01
 -8.01722006e-02  1.99348545e-02  1.43963318e-02  1.47933675e-01
  9.72043676e-02 -7.49818870e-02  1.30858924e-01 -2.79820573e-01
  1.13120599e-01  1.69940585e-02 -1.41644909e-01  2.04524141e-02
  4.18755905e-01 -4.97257960e-02 -2.82857866e-01 -7.73849625e-02
 -5.06493943e-02  1.46166231e-02 -7.66342338e-03  6.58925421e-03
  1.23054681e-01 -8.61239278e-02 -6.21320516e-02 -4.94212649e-02
 -1.30150008e-01 -2.40436957e-01  9.32484434e-02  4.30280477e-02
  4.09298141e-02  4.72334362e-02 -1.39169034e-02 -3.29694732e-02
 -7.35050474e-02  1.13823556e-01 -3.94297244e-02 -1.41396432e-01
  6.34707602e-02  1.16511361e-01 -3.51289746e-02  2.11273160e-02
 -1.56515491e-02 -9.27331195e-03  1.46117631e-02  1.79445246e-02
  8.79912079e-03 -2.13690709e-02 -4.54471040e-02  1.11116423e-02
 -3.12159502e-02 -3.58301806e-03 -8.35589072e-03  1.21759560e-02
  1.35841558e-03  2.30644491e-02 -1.48584722e-02 -5.36180596e-03
  7.27465324e-03 -1.38549132e-02 -1.24860892e-02 -7.90989420e-03
  3.46529885e-05 -1.24632184e-02  3.04459867e-03  1.11965160e-02
  2.36412665e-02  7.24650252e-03 -3.99195227e-03 -4.22973092e-03
 -4.91817732e-02 -1.84802529e-02 -6.67199704e-02 -1.20635463e-02
  2.18518803e-02 -8.20279296e-04  3.36147572e-03 -5.35641898e-03
 -3.27494621e-03 -2.70364166e-02  2.08868419e-03 -8.23031687e-04
  4.37970581e-03  3.90712553e-02 -3.65588825e-02  9.80610527e-03
 -2.11477479e-03]

In [95]:
columns = final_df.columns
columns = np.array(columns)
coefficients = log_reg.coef_.flatten()

In [98]:
#going to try zipping to sort a list
zipped = zip(coefficients,columns)
zipped = sorted(zipped, key=lambda x: x[0])

sorted_coefficients = []

for x in zipped:
    sorted_coefficients.append(x)

sorted(sorted_coefficients)

[(-0.2828578655754635, 'marital_status_ Married-AF-spouse'),
 (-0.27982057255708626, 'education_ Doctorate'),
 (-0.24043695666695278, 'occupation_ Handlers-cleaners'),
 (-0.21714886705325995, 'fnlwgt'),
 (-0.14164490927625734, 'education_ Preschool'),
 (-0.14139643204637545, 'relationship_ Husband'),
 (-0.13015000783166972, 'occupation_ Farming-fishing'),
 (-0.12265528035133227, 'education_ 12th'),
 (-0.0969960511986185, 'workclass_ State-gov'),
 (-0.08838273177620906, 'workclass_ Without-pay'),
 (-0.08612392778690739, 'occupation_ Armed-Forces'),
 (-0.0801722005560161, 'education_ 1st-4th'),
 (-0.0776737099034202, 'workclass_ Self-emp-inc'),
 (-0.07738496249661785, 'marital_status_ Married-civ-spouse'),
 (-0.07498188702145381, 'education_ Assoc-voc'),
 (-0.07350504736009013, 'occupation_ Tech-support'),
 (-0.07348767513175687, 'education_ 11th'),
 (-0.06671997041047383, 'native_country_ Laos'),
 (-0.062132051645840715, 'occupation_ Craft-repair'),
 (-0.061447737171501544, 'education_ 10th'),
 (-0.05064939432049391, 'marital_status_ Married-spouse-absent'),
 (-0.05049543198218273, 'workclass_unknown'),
 (-0.049725795992097616, 'marital_status_ Divorced'),
 (-0.04942126491616557, 'occupation_ Exec-managerial'),
 (-0.04918177324355692, 'native_country_ Jamaica'),
 (-0.04870701329232894, 'workclass_ Never-worked'),
 (-0.045447104048209556, 'native_country_ Cambodia'),
 (-0.039429724425375595, 'occupation_unknown'),
 (-0.03655888248579802, 'native_country_ Thailand'),
 (-0.035128974607603544, 'relationship_ Own-child'),
 (-0.03296947316558845, 'occupation_ Sales'),
 (-0.03166921344121277, 'workclass_ Self-emp-not-inc'),
 (-0.031215950168039373, 'native_country_ China'),
 (-0.02703641655007772, 'native_country_ Portugal'),
 (-0.02651938161115496, 'workclass_ Private'),
 (-0.0213866276963478, 'income'),
 (-0.021369070944840435, 'race_ White'),
 (-0.018480252907652202, 'native_country_ Japan'),
 (-0.015651549056481976, 'relationship_ Wife'),
 (-0.014858472196937837, 'native_country_ England'),
 (-0.013916903398154995, 'occupation_ Protective-serv'),
 (-0.013854913225179724, 'native_country_ Greece'),
 (-0.012486089185860286, 'native_country_ Guatemala'),
 (-0.012463218409265444, 'native_country_ Honduras'),
 (-0.012329068937947033, 'hours_per_week'),
 (-0.01206354634525693, 'native_country_ Mexico'),
 (-0.009273311954882728, 'race_ Amer-Indian-Eskimo'),
 (-0.008355890718847481, 'native_country_ Cuba'),
 (-0.007909894198420872, 'native_country_ Haiti'),
 (-0.0076634233755720725, 'marital_status_ Separated'),
 (-0.005361805955958589, 'native_country_ France'),
 (-0.005356418982140596, 'native_country_ Philippines'),
 (-0.004229730917967584, 'native_country_ Italy'),
 (-0.003991952271408277, 'native_country_ Ireland'),
 (-0.0035830180630379085, 'native_country_ Columbia'),
 (-0.0032749462072044462, 'native_country_ Poland'),
 (-0.002114774792303098, 'native_country_ United-States'),
 (-0.0008230316868860709, 'native_country_ Scotland'),
 (-0.000820279295959725, 'native_country_ Outlying-US(Guam-USVI-etc)'),
 (3.465298851312491e-05, 'native_country_ Holand-Netherlands'),
 (0.0013584155798054007, 'native_country_ Ecuador'),
 (0.002088684192251918, 'native_country_ Puerto-Rico'),
 (0.0030445986719506352, 'native_country_ Hong'),
 (0.0033614757182018652, 'native_country_ Peru'),
 (0.0043797058111692665, 'native_country_ South'),
 (0.006589254207803796, 'marital_status_ Widowed'),
 (0.0072465025212147816, 'native_country_ Iran'),
 (0.007274653243527954, 'native_country_ Germany'),
 (0.008799120785138321, 'race_ Other'),
 (0.009806105274443007, 'native_country_ Trinadad&Tobago'),
 (0.01111164226947436, 'native_country_ Canada'),
 (0.011196515969569689, 'native_country_ Hungary'),
 (0.012175955999177587, 'native_country_ Dominican-Republic'),
 (0.01439633176963728, 'education_ 7th-8th'),
 (0.014611763110737714, 'race_ Asian-Pac-Islander'),
 (0.014616623148987701, 'marital_status_ Never-married'),
 (0.016994058539032787, 'education_ Masters'),
 (0.01794452463450229, 'race_ Black'),
 (0.019934854450127503, 'education_ 5th-6th'),
 (0.020452414056285027, 'education_ Prof-school'),
 (0.021127315971979203, 'relationship_ Unmarried'),
 (0.021851880318336455, 'native_country_ Nicaragua'),
 (0.02306444909720981, 'native_country_ El-Salvador'),
 (0.023641266513902262, 'native_country_ India'),
 (0.025036090236482282, 'workclass_ Local-gov'),
 (0.03907125534300822, 'native_country_ Taiwan'),
 (0.03948092310388496, 'workclass_ Federal-gov'),
 (0.04092981406321585, 'occupation_ Priv-house-serv'),
 (0.043028047687881606, 'occupation_ Other-service'),
 (0.04615540954160074, 'capital_loss'),
 (0.0472334362267891, 'occupation_ Prof-specialty'),
 (0.06347076020162436, 'relationship_ Not-in-family'),
 (0.09324844337010739, 'occupation_ Machine-op-inspct'),
 (0.09720436759473614, 'education_ Assoc-acdm'),
 (0.11312059900633584, 'education_ HS-grad'),
 (0.1138235556202555, 'occupation_ Transport-moving'),
 (0.1165113611185135, 'relationship_ Other-relative'),
 (0.12305468065430272, 'occupation_ Adm-clerical'),
 (0.1281639644915521, 'sex'),
 (0.13085892373398791, 'education_ Bachelors'),
 (0.147933674611582, 'education_ 9th'),
 (0.17833632610793626, 'capital_gain'),
 (0.18199037401317034, 'age'),
 (0.4187559053213171, 'education_ Some-college'),
 (1.1272469744245686, 'education_num')]

## Part 3 - Analysis, Interpretation, and Questions

### Based on your above model, answer the following questions

1. What are 3 features positively correlated with income above 50k?

    - Years of education,
    - If your education was at least some-College
    - Age (most likely bias)
    - (unfortunately...) sex

2. What are 3 features negatively correlated with income above 50k?

    - marital status (very sad)
    - if you have a doctorate? makes sense if you're in debt 500k after school and can't find a job you're too overqualified for
    - if you're a handler/cleaner


3. Overall, how well does the model explain the data and what insights do you derive from it?

    - Pretty well all things considered 85% accuracy I can live with that.
    - I feel like the 50k dichotomous target is not the most accurate representation of 2019 insights, but all things considered this was a good learning exercise. 
    - probably needs a feature to consider immigrant status, first generations and the like.
    - Also a feature for debt after school or overall debt instead of capital loss.

*These answers count* - that is, make sure to spend some time on them, connecting to your analysis above. There is no single right answer, but as long as you support your reasoning with evidence you are on the right track.

Note - scikit-learn logistic regression does *not* automatically perform a hypothesis test on coefficients. That is OK - if you scale the data they are more comparable in weight.

### Match the following situation descriptions with the model most appropriate to addressing them

In addition to logistic regression, a number of other approaches were covered this week. Pair them with the situations they are most appropriate for, and briefly explain why.

Situations:
1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.

    - Quantile Regression
    - We're looking for at risk students, so we can curve students by test scores, attendance, homework, participation, behavior etc. Anything to be measured.
    - Quantile Regression would let us bin students by overall performance from previous students and predict when students are most likely to fail by comparison
    
2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.

    - Survival Analysis 
    - birth event : catalyst for product release
        - catalyst can be like advertisement, news coverage, competitors initial release?
    - death event : product actually released
    

3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.

    - Ridge Regression
    - If there's a small sample size, it's a pretty good chance we're going to need ridge because we would need to add bias to set up those penalties
    
    
    
Approaches:
1. Ridge Regression
2. Quantile Regression
3. Survival Analysis

**TODO - your answers!**